#titre-principal {
    font-size: 18pt;
    color: #009b9b;
    text-align: center;
}

#policy {
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

#text {
    color: #fff;
    margin-left: 3vw;
}

ol#text li {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    transition: all .2s ease-in-out;
}

ol#text li i {
    transition: all .1s ease-in-out;
}


ol#text p {
    margin-left: 1vw;
    z-index: -1;
    pointer-events: none;
    transition: all .2s ease-in-out;
}

ol#text p strong {
    display: block;
    text-align: center;
    color: #ff5050;
}

p a {
    color: #fff !important;
    pointer-events: all;
}
p a:after {
    background-color: #fff !important;
}